<div class="d-flex justify-content-between">
    {{> medication}}
    <div>
        <button class="btn btn-primary" id="delete-medication" onclick="deleteMedication({{id}})">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
