<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Medi</title>
  <link href="/dist/output.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1></h1>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer></footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script> <!--This is for a JS link-->
  {{/if}}
</body>

</html>
