<!DOCTYPE html>
<html lang="en" data-theme="fantasy">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Medi</title>
</head>

{{!-- <nav class="navbar bg-primary">
  <div class="container">
    <a class="navbar-brand">
      <img>
      <h2>My Medi</h2>
    </a>
  </div>
</nav> --}}

<body>
  <header>
    <h1 class="text-5xl font-bold">Hello there</h1>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer></footer>

  {{#if logged_in}}
  <script></script> <!--This is for a JS link-->
  {{/if}}
</body>

</html>
