<!-- Holds the Name and E. Contact -->

<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column bg-secondary align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name: {{user_name}} <span></span></h5>
    </div>
    <p class="mb-1">Phone Number: <span>{{information.personal_number}}</span></p>

  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Emergency Contact: <span>{{information.emergency_contact}}</span></h5>
    </div>
    <p class="mb-1">Phone Number: <span>{{information.emergency_number}}</span></p>
  </div>
</div>

<section class=" justify-content-around mt-2 row">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <h4 class="card-header">Current Medications</h4>
      <div class="card-body">
        {{#each medications as |medication|}}
        {{> medication}}
        {{/each}}
      </div>
    </div>

    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <h4 class="card-header">Medical Information</h4>
      <div class="card-body">
        <p class="card-text">Example</p>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <h4 class="card-header">Makes Changes to Your Information</h4>
      <div class="card-body" id="buttons-section">
        <button type="button" class="btn btn-primary btn-lg m-2" id ="edit-meds" style="font-size: 21px">Edit Your Medications</button>
        <button type="button" class="btn btn-primary btn-lg m-2" id="edit-info" style="font-size: 21px">Edit Your Medical Information</button>
      </div>
    </div>    
</section>

<script src="/js/homepage.js"></script>