<!-- Holds the Name and E. Contact -->

<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column bg-secondary align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name:<span>Kayla Aguilera</span></h5>
    </div>
    <p class="mb-1">Phone Number: <span></span></p>

  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Emergency Contact: <span>Kayla Aguilera</span></h5>
    </div>
    <p class="mb-1">Phone Number: <span></span></p>
  </div>
</div>

<section class="row justify-content-around mt-2">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <h4 class="card-header">Edit Your Current Information</h4>
      <div class="card-body">
        <p class="card-text">Example</p>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <h4 class="card-header">Add Your New Information</h4>
      <div class="card-body">
        <label class="col-form-label" for="inputDefault">Your Phone Number</label>
        <input type="text" class="form-control" placeholder="678-123-4567" id="inputDefault">

        <label class="col-form-label" for="inputDefault">Emergency Contact</label>
        <input type="text" class="form-control" placeholder="Junghoon Yoon" id="inputDefault">

        <label class="col-form-label" for="inputDefault">Emergency Contact Phone Number</label>
        <input type="text" class="form-control" placeholder="404-456-7890" id="inputDefault">

        <label class="col-form-label" for="inputDefault">Blood Type</label>
        <input type="text" class="form-control" placeholder="O-" id="inputDefault">

        <label class="col-form-label" for="inputDefault">Allergies</label>
        <input type="text" class="form-control" placeholder="Peanuts, Penicillin" id="inputDefault">   

        <label class="col-form-label" for="inputDefault">Add Any Transplants and Dates</label>
        <input type="text" class="form-control" placeholder="Kidney Transplant March 2020" id="inputDefault">

        <label class="col-form-label" for="inputDefault">Add Any Implants/Devices</label>
        <input type="text" class="form-control" placeholder="Pacemaker" id="inputDefault">     
      </div>
    </div>
 
</section>