<div class="container">
  <div class="card text-white bg-info mb-3 m-5" style="max-width: 20rem;">
    <h4 class="card-title m-3">Login</h4>
    <div class="card-body">
      <form class="card-header" id="login-form">
        <div class="form-group m-3">
          <label for="email-input">Email:</label>
          <input type="text" id="email-input" />
        </div>
        <div class="form-group m-3">
          <label for="password-input">Password:</label>
          <input type="password" id="password-input" />
        </div>
        <button
          class="btn btn-wide btn-secondary form-group m-3"
          type="submit"
        >Login</button>
      </form>
    </div>
    <a href="/signup" class="text-light m-3">Create a New Account</a>
  </div>
</div>

<script src="/js/login.js"></script>