<!-- Holds the Name and E. Contact -->

<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column bg-secondary align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name: <span>Kayla Aguilera</span></h5>
    </div>
    <p class="mb-1">Phone Number: <span></span></p>

  <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Emergency Contact: <span>Kayla Aguilera</span></h5>
    </div>
    <p class="mb-1">Phone Number: <span></span></p>
  </div>
</div>

<section class="row justify-content-around mt-2">
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <h4 class="card-header">Edit Your Current Medications</h4>
      <div class="card-body">
        <p class="card-text">Example</p>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <h4 class="card-header">Add Your New Medication</h4>
      <div class="card-body">
        <label class="col-form-label col-form-label-lg mt-1" for="inputLarge">Medication Name</label>
        <input class="form-control form-control-lg" type="text" placeholder="Aspirin" id="inputLarge">

        <label class="col-form-label col-form-label-lg mt-3" for="inputLarge">Dosage</label>
        <input class="form-control form-control-lg" type="text" placeholder="85 mg" id="inputLarge">

        <label class="col-form-label col-form-label-lg mt-3" for="inputLarge">Notes</label>
        <input class="form-control form-control-lg" type="text" placeholder="For Atrial Fibrillation" id="inputLarge">

        <button type="submit" class="btn btn-primary mt-3" id="submit-new">Submit</button>

      </div>
    </div>
 
</section>

<script src="/js/medications.js"></script>


