<!-- Holds the Name and E. Contact -->
<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column bg-secondary align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Name: <span>{{user_name}}</span></h5>
    </div>
    <p class="mb-1">Phone Number: <span>{{information.personal_number}}</span></p>

    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Emergency Contact: <span></span></h5>
    </div>
    <p class="mb-1">Phone Number: <span>{{information.emergency_number}}</span></p>
  </div>
</div>

<section class="row justify-content-around mt-2">
    <div class="card text-white bg-info shadow-lg mb-3" style="max-width: 30rem;">
      <h4 class="card-header">Edit Your Current Medications</h4>
      <div class="card-body">
        {{#each medications as |medication|}}
        {{> editmedication}}
        {{/each}}

      </div>
    </div>

    <div class="card text-white bg-info shadow-lg mb-3" style="max-width: 30rem;">
      <h4 class="card-header" id="medication-header">Add Your New Medication</h4>
      <div class="card-body">
        <form class="card-header" id="medication-form">
          <input class="form-control form-control-lg d-none" id="medication-user-id" value="{{user_id}}">
          <label class="col-form-label col-form-label-lg mt-1" for="medication-name">Medication Name</label>
          <input class="form-control form-control-lg" type="text" id="medication-name" required>

          <label class="col-form-label col-form-label-lg mt-3" for="medication-dosage">Dosage Amount</label>
          <input class="form-control form-control-lg" type="text" placeholder="50 mg" id="medication-dosage" required>

          <label class="col-form-label col-form-label-lg mt-3" for="medication-notes">Notes</label>
          <textarea class="form-control form-control-lg" type="text" id="medication-notes" required></textarea>
      
          <button type="submit" class="btn btn-primary bg-light text-dark shadow-sm mt-3" id="add-medication">Add medication</button>
          <button type="reset" class="btn btn-secondary bg-light text-dark shadow-sm mt-3 d-none" id="cancel-update-medication" onclick="resetAddForm()">Cancel</button>
        </form>
      </div>
    </div>

</section>

<script src="/js/medications.js"></script>


