

body {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100%;
}

#contact-bar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;
}

.contact-info {
    margin-left: 10px; 
}

#editables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    border-radius: 10px;
}

.display-info {
    margin: 10px;
    width: 30%;
}

#medical-information {
    border: 2px solid aqua;
    height: 40%
}

.titles {
    font-size: 20px;
    text-align: center;
}

button {
    border-radius: 10px;

}

.edit-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}